<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cc17.casa">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Casa">
        <activity
            android:name=".navigationMenuUI.menuChangePassword"
            android:exported="false" />
        <activity
            android:name=".navigationMenuUI.menuChangeProfile"
            android:exported="false" />
        <activity
            android:name=".navigationMenuUI.menuViewListing"
            android:exported="false" />
        <activity
            android:name=".navigationMenuUI.menuAddListing"
            android:exported="false" />
        <activity
            android:name=".navigationMenuUI.menuMessages"
            android:exported="false" />
        <activity
            android:name=".navigationMenuUI.menuMyProfile"
            android:exported="false" />
        <activity
            android:name=".HomeUI"
            android:exported="false"
            android:label="@string/title_activity_home_ui"
            android:theme="@style/Theme.Casa.NoActionBar" />
        <activity
            android:name=".ForgotPasswordUI"
            android:exported="false" />
        <activity
            android:name=".RegisterUI"
            android:exported="false" />
        <activity
            android:name=".LoginUI"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>